<style>
    .background {
        background-image: url(https://images.pexels.com/photos/1006121/pexels-photo-1006121.jpeg?cs=srgb&dl=branches-countryside-environment-1006121.jpg&fm=jpg);
        /* background-position: no-repeat; */

        background-repeat: no-repeat;

    }

    .uk-animation-toggle {
        width: 80%;
        height: 60%;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0.8;
    }

    .video-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .nav {
        margin: 8px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id='logo' href="/">betterHealth</a>

    <a class="nav-link" uk-toggle="target: #offcanvas-nav" uk-icon="table"></a>

</nav>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-parent">
            <li class="uk-active"><a href="/">Home</a></li>
            </li>
            <li class="uk-nav-header">More</li>
            <li><a href="/holistic/mornings"> Morning Rituals</a></li>
            <li><a href="/holistic/affirmation"> Affirmations & Meditation</a></li>
            <li><a href="/holistic/health"> Healthy Choices</a></li>
            <li><a href="/holistic/relief"> Stress Relief</a></li>
            <li><a href="/holistic/bedtiem"> Before bed</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </div>
</div>
<div class="col xl-3 col-dm-6 mb-3">
    <div class="background">
        <div style="text-align:center">
            <p>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
                        <p class="uk-text-center">
                            <a class="uk-link-muted" href="holistic/affirmations">
                                <div class="uk-inline">
                                    <h1>
                                        <div style="text-align:center">Affirmations & Mediations</div>
                                    </h1>
                        </p>
                    </div>
                </div>
                <br> </a>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/GnWlERK0UJc"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Affirmations for Health, Wealth, Happiness, Abundance "I AM" (21
                                days to a New You!)
                            </h3>
                            <p>Take a few moments out of your time to program your greatest wants. Using "I AM" is
                                believed top help you get closer
                                to what you want to be, You will finf yourself seeking what you are, and "What you seek
                                you shall find!"</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/Bk1SDgtBbUQ"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Law of attraction for Health - positive affirmation</h3>
                            <p>It is said that the mind has the power to heal, and keeping your mind healthy is a big
                                part of that. Begin with positive affirmations for your health!</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/44ImQV46lF4"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Wayne Dyer - Meditation - Affirmations</h3>
                            <p>If you got a chance to listen to our other Wayne Dyer videos then hopefully you're
                                looking forward to this one! Mixing meditation and affirmations is a powerful duo!</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/BoE4QjMiHys"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">"I AM" guided meditation by Wayne Dyer</h3>
                            <p>Here's to another "I AM" meditation, and feeding your soul self-positivity! Enjoy :)</p>
                        </div>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/za5nVIJKLRs"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Affirmations, Self-Confidence, Health, Wealth, Abundance,
                                Happiness & Love</h3>
                            <p>Here is a little bit of everything! Going in with an open heart and an open mind is
                                important!</p>
                        </div>
                    </div>
                </div>
        </div>