<style>
    .background {
        background-image: url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?cs=srgb&dl=astrology-astronomy-constellations-1257860.jpg&fm=jpg);
    }

    .uk-animation-toggle {
        width: 80%;
        height: 30%;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0.8;
    }


    .video-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .nav {
        margin: 8px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" id='logo' href="/">betterHealth</a>

    <a class="nav-link" uk-toggle="target: #offcanvas-nav" uk-icon="table"></a>

</nav>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-parent">
            <li class="uk-active"><a href="/">Home</a></li>
            </li>
            <li class="uk-nav-header">More</li>
            <li><a href="/holistic/mornings"> Morning Rituals</a></li>
            <li><a href="/holistic/affirmation"> Affirmations & Meditation</a></li>
            <li><a href="/holistic/health"> Healthy Choices</a></li>
            <li><a href="/holistic/relief"> Stress Relief</a></li>
            <li><a href="/holistic/bedtiem"> Before bed</a></li>
        </ul>

    </div>
</div>

</div>

<div class="col xl-3 col-dm-6 mb-3">
    <div class="background">
        <div class="transbox">
            <p>

                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
                        <p class="uk-text-center">
                            <h1>
                                <div style="text-align:center">Before Bedtime</div>
                            </h1>
                        </p>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/hylXnJ91O5g"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">8 Bedtime Habits Ruining Your Restful Sleep</h3>
                            <p>Easier listened to than done, but if you try these out you wont be let down. Cutting
                                poor habits before bed only leads to
                                a better and healthier lifestyle.</p>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/tEtuqM_skyI"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Dr. Wayne Dyer - Do this 5 Minutes before sleep!</h3>
                            <p>Dr. Wayne Dyer is an American self-help author and a motivational speaker. With the best
                                seller with an estimated 35 million copies sold to date.</p>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/7QTkBWSQwCM"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">432Hz Before Sleep | Magical Dreams Positive Vibes Sleep Easy</h3>
                            <p>To understand the healing power behind 432Hz, you must first learn about another
                                frequency, 8Hz. It is said that 8Hz is the fundamental “beat” of the planet.
                                The heartbeat of the Earth is better known as Schumann resonance. Playing and listening
                                to music that has been tuned to 432Hz
                                would make your body, and the organic world which surrounds it, resonate in a
                                natural way. Filling you with a sense of peace and well-being while you sleep.</p>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/mqVvxSnKBz8"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Abraham Hicks Bedtime Meditation - Listen to this before bed for
                                higher
                                frequency</h3>
                            <p>When you sleep your mind still has the power to absorb, listen to this and program your
                                mind for a greater self-good. Enjoy</p>
                        </div>
                    </div>
                </div>

                <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <div class="video-responsive">
                            <iframe width="495" height="235" src="https://www.youtube.com/embed/KmTXJ7WtC1E"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Deep Sleep Meditation with Affirmations: Happiness, Self Love &
                                Inner Peace</h3>
                            <p>While you sleep set yourself up with some positive affirmations, we hope that you sow
                                the power and allow yourself to reap the beneifts.</p>
                        </div>
                    </div>
                </div>
        </div>