<div style="text-align:center">
    <p>
        <div class="uk-column-1-2 uk-column-divider">

            <div class="uk-animation-toggle" tabindex="0">
                <div class="uk-card uk-card-default uk-card-body uk-animation-slide-scale-up">
                    <p class="uk-text-center">

                        <div>
                            <a class="uk-link-muted" href="holistic/mornings">
                                <div class="uk-inline">
                                    <img src="images/morning.jpg" alt="" height="460" width="360">
                                    <div class="uk-overlay uk-overlay-default uk-position-center">
                                        <p>Morning Rituals</p>
                                    </div>
                                </div>
                        </div>
                </div>
                </a>
    </p>
</div>
</p>

<div class="uk-animation-toggle" tabindex="0">
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small">
        <p class="uk-text-center">
            <div>
                <div class="uk-inline">
                    <a class="uk-link-muted" href="holistic/affirmation">
                        <img src="images/affmed.jpg" alt="" height="440" width="325">
                        <div class="uk-overlay uk-overlay-default uk-position-center">
                            <p>Affirmations & Meditations</p>
                        </div>
                </div>
            </div>
    </div>
    </a> 
</div>

<div class="uk-column-1-2 uk-column-divider">
    <div class="uk-animation-toggle" tabindex="0">
        <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small">
            <p class="uk-text-center">
                <div>
                    <a class="uk-link-muted" href="holistic/health">
                        <div class="uk-inline">
                            <img src="images/healthy.jpg" alt="" height="460" width="360">
                            <div class="uk-overlay uk-overlay-default uk-position-center">
                                <p>Healthy Choices</p>
                            </div>
                        </div>
                </div>
        </div>
        </a>
        </p>
    </div>
</div>
</p>

<div class="uk-animation-toggle" tabindex="0">
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small">
        <p class="uk-text-center">
            <div>
                <a class="uk-link-muted" href="holistic/relief">
                    <div class="uk-inline">
                        <img src="images/yoga.jpg" alt="" height="320" width="260">
                        <div class="uk-overlay uk-overlay-default uk-position-center">
                            <p>Stress Relief</p>
                        </div>
                    </div>
            </div>
    </div>
    </a>
    </p>
</div>
</div>

<div class="uk-animation-toggle" tabindex="0">
    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small">
        <p class="uk-text-center">
            <a class="uk-link-muted" href="holistic/bedtime">
                <div class="uk-inline">
                    <img src="images/bedtime.jpg" alt="" height="460" width="360">
                    <div class="uk-overlay uk-overlay-default uk-position-center">
                        <p>Bedtime</p>
                    </div>
                </div>
            </a>
        </p>
    </div>
</div>