   <style>
.background {
    background-image: url(https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?cs=srgb&dl=beach-blur-boardwalk-132037.jpg&fm=jpg);
}

.uk-animation-toggle{
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
}
   </style>
    <div class="background">
        <div class="transbox">
            <p>


                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
                        <p class="uk-text-center">
                            <h1>
                                <div style="text-align:center">Mornings</div>
                            </h1>
                        </p>
                    </div>

                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            <iframe width="560" height="325" src="https://www.youtube.com/embed/IU13sdrLQ-M"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <!-- <canvas width="600" height="400"></canvas> -->
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Raise Positive Vibrations | Healing Frequency 432hz</h3>
                                <p>To understand the healing power behind 432Hz, you must first learn about another
                                    frequency, 8Hz. It is said that 8Hz is the fundamental “beat” of the planet.
                                    The heartbeat of the Earth is better known as Schumann resonance.According to the
                                    above information, playing and listening to music that has been tuned to 432Hz
                                    would make your body, and the organic world which surrounds it, resonate in a
                                    natural way.
                                    This would fill you with a sense of peace and well-being</p>
                                <p> <a href="https://attunedvibrations.com/432hz-healing/">Find Out More!</a>
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/80kH8SKP65o"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">10 Easy Healthy Morning Routine Habits</h3>
                                <p>What you do in the morning matters, thats why we want to share with you that
                                    starting your days with these steps are rewarding and life-changing! </p>
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            <iframe width="460" height="215" src="https://www.youtube.com/embed/3RZ8n86CmJg"
                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Abraham Hicks 10 Minute Morning Meditation</h3>
                                <p>One of the easiest and most achievable stress-relieving techniques is meditation, a
                                    program in which you focus your attention inward to induce a state of deep
                                    relaxation.For depression, meditation was about as effective as an antidepressant.</p>
                                <p> <a href="https://www.health.harvard.edu/staying-healthy/what-meditation-can-do-for-your-mind-mood-and-health-"> Find Out More!</a>
                                        </div> </div> </div> <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                                        uk-grid>
                                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                                            <iframe width="460" height="215" src="https://www.youtube.com/embed/6lFg_Im8Ly0"
                                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                        </div>
                                        <div>
                                            <div class="uk-card-body">
                                                <h3 class="uk-card-title">What Tony Robbins Does Every Morning
                                                    (POWERFUL Daily Ritual)</h3>
                                                <p> an American author, entrepreneur, philanthropist and life coach. Robbins is known for his infomercials, seminars, and self-help books 
                                                    Somne of his quotes: "Quality questions create a quality life. Successful people ask better questions, and as a result, they get better answers.", "If you do what you've always done, you'll get what you've always gotten.","It is in your moments of decision that your destiny is shaped."
                                                </p> <p> <a href="#"> YUMMY LINK</a></p>
                                            </div>
                                        </div>
                            </div>

                            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                                uk-grid>
                                <div class="uk-card-media-left uk-cover-container">
                                    <iframe width="460" height="215" src="https://www.youtube.com/embed/UHTtAKGJm-s"
                                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                                <div>
                                    <div class="uk-card-body">
                                        <h3 class="uk-card-title">The Shocking POWER of Waking Up Early</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt.</p>
                                    </div>
                                </div>
                            </div>
            </p>
        </div>
    </div>