<style>
  .uk-modal-body::-webkit-scrollbar {
    width: 0 !important;
  }

  .twitter-timeline::-webkit-scrollbar {
    width: 0 !important;
  }

  .gradient {
    height: 3px;

    animation: colorchange 1.4s;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 1.4s;
    /* Chrome and Safari */
  }

  @keyframes colorchange {
    0% {
      background: #faa96a;
    }

    25% {
      background: #32d296;
    }

    5% {
      background: #f15d78;
    }

    75% {
      background: #6bb1f5;
    }

    100% {
      background: #faa96a;
    }
  }

  @-webkit-keyframes colorchange

  /* Safari and Chrome - necessary duplicate */
    {
    0% {
      background: red;
    }

    25% {
      background: yellow;
    }

    50% {
      background: blue;
    }

    75% {
      background: green;
    }

    100% {
      background: red;
    }
  }

  ;
</style>

<div class="gradient"></div>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

      <a class="uk-navbar-item uk-logo" href="/dashboard">betterHealth</a>

      <ul class="uk-navbar-nav">
        <li>
          <a>
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: table" uk-toggle="target: #offcanvas-nav"></span>
          </a>
        </li>
      </ul>

    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <a href="/profile"><span class="uk-margin-small-right" uk-icon="icon: cog"></span></a>
        <div class="uk-width-auto">
          <img class="uk-border-circle" width="40" height="40"
            src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-nav-header">Quick Menu</li>
              <li><a href="#modal-overflow" uk-toggle>View Messages</a></li>
              <li><a href="/holistics">Holistics</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="/profile">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default">
      <li class="uk-parent">
      <li class="uk-active"><a href="/dashboard">Overview</a></li>
      <ul class="uk-nav-sub">
        <li><a href="#bookApp" uk-toggle>Book Appointment</a></li>
        <li><a href="#medRec" uk-toggle>View Medical Record</a></li>
      </ul>
      </li>
      <li class="uk-nav-header">More</li>
      <li><a href="/holistics"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> Holistics</a></li>
      <li><a href="#modal-overflow" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: commenting"></span>
          Messages</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="/profile" class="usrNav"><img class="uk-border-circle" width="40" height="40"
            src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
          Profile</a></li>
    </ul>

  </div>
</div>

<div class="container-fluid">
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-warning"><span class="uk-margin-small-right" uk-icon="icon: bolt; ratio: 1.5"></span>Book
            Appointment:</p>
          <p class="uk-text-meta uk-margin-remove-top">Book your next apppointment!</p>
        </div>
        <div class="uk-card-footer">
          <a href="#bookApp" uk-toggle class="uk-button uk-button-text" id="bookBtn">Book now</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-success"><span class="uk-margin-small-right"
              uk-icon="icon: heart; ratio: 1.5"></span>Holistics:</p>
          <p class="uk-text-meta uk-margin-remove-top">View diet plans.</p>
        </div>
        <div class="uk-card-footer">
          <a href="/holistic" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-danger"><span class="uk-margin-small-right"
              uk-icon="icon: file-text; ratio: 1.5"></span>Medical
            Record</p>
          <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
        </div>
        <div class="uk-card-footer">
          <a href="#medRec" uk-toggle class="uk-button uk-button-text" id="recordsBtn">View Now</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-primary"><span class="uk-margin-small-right"
              uk-icon="icon: commenting; ratio: 1.5"></span>Messages:</p>
          <p class="uk-text-meta uk-margin-remove-top">7 unread messages</p>
        </div>
        <div class="uk-card-footer">
          <a href="#modal-overflow" uk-toggle class="uk-button uk-button-text" id="msgBtn">Reply Now</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <h2 style="text-align: center;">Health Updates from Twitter</h2>
  <br>

  <!-- Twitter grid -->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div uk-slider>
        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid">
          <li>
            <a class="twitter-timeline" data-height="3000" href="https://twitter.com/mnt?ref_src=twsrc%5Etfw">Tweets by
              mnt</a>
          </li>
          <li>
            <a class="twitter-timeline" data-height="3000"
              href="https://twitter.com/AmerMedicalAssn?ref_src=twsrc%5Etfw">Tweets
              by
              AmerMedicalAssn</a>
          </li>
          <li>
            <a class="twitter-timeline" data-height="3000"
              href="https://twitter.com/CDC_eHealth?ref_src=twsrc%5Etfw">Tweets
              by
              CDC_eHealth</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1"></div>
    <!-- JavaScript for Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<!-- Book appointment modal -->
<div id="bookApp" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title" id="bookModalTitle"></h2>
    </div>

    <div class="uk-modal-body" id="bookModalBody">
      <div class="row">
        <div class="col-12">
          <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-fade; repeat: true">
            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Messaging Modal -->
<div id="modal-overflow" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header" id="msgModalTitle">
      
    </div>
    <div class="uk-modal-body" id="msgModalBody">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider> 

      </div>
    </div>
  </div>
</div>


<!-- Med Record -->
<div id="medRec" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Medical Record</h2>
    </div>

    <div class="uk-modal-body">
      <div class="ui items">
        <div class="item">
          <div class="ui tiny image">
            <p class="patient-records-go-here" id="recordSheetName"></p>
            <img class="uk-border-circle" width="80" height="80"
              src="https://content.thriveglobal.com/wp-content/uploads/2018/11/145tjWrgMIkGlCER4qmIbpw.jpeg">
          </div>



          <div class="row">
            <table class="uk-table uk-table-striped">
              <thead>
                <tr>
                  <th>Problem</th>
                  <th>Patient Concern Details</th>
                  <th>Hospital</th>
                  <th>Date registered</th>
                </tr>
              </thead>
              <tbody class="recordHistory" >

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-gb.js"></script>
<script src="/js/dashboard.js"></script>