<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-left">

    <a class="uk-navbar-item uk-logo" href="#">betterHealth</a>

    <ul class="uk-navbar-nav">
      <li>
        <a href="#">
          <span class="uk-icon uk-margin-small-right" uk-icon="icon: table" uk-toggle="target: #offcanvas-nav"></span>
        </a>
      </li>
    </ul>

    <div class="uk-navbar-right">
      <form class="uk-search uk-search-default">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search...">
      </form>
    </div>

  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <div>Some <a href="#">Link</a></div>
    </div>

  </div>
</nav>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Active</a></li>
      <li class="uk-parent">
        <a href="#">Parent</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Sub item</a></li>
          <li><a href="#">Sub item</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Header</li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
    </ul>

  </div>
</div>

<div class="container-fluid">
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <i class="fas fa-fw fa-comments fa-2x"></i>
          <p>Alerts:</p>
          <p class="uk-text-meta uk-margin-remove-top">You have 1 unread alert!</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <i class="fas fa-fw fa-comments fa-2x"></i>
          <p>Hollistic:</p>
          <p class="uk-text-meta uk-margin-remove-top">View diet plans.</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <i class="fas fa-fw fa-comments fa-2x"></i>
          <p>Next appointment:</p>
          <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <i class="fas fa-fw fa-comments fa-2x"></i>
          <p>Messages:</p>
          <p class="uk-text-meta uk-margin-remove-top">7 unread messages</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Book appointment -->
  <div class="row">
    <div class="col-12">
      <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        <h3 class="uk-card-title">Book Appointment</h3>
        <p>Fill out the form below to book your next appointment.</p>

        <form class="uk-grid-small" uk-grid>
          <div class="uk-width-1-1">
            <label class="uk-form-label" for="form-horizontal-select">Pick a Date:</label>
            <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">What is your appointment for?</label>
            <div uk-form-custom="target: > * > span:first-child">
              <select>
                <option value="">Please select...</option>
                <option value="1">Checkup</option>
                <option value="2">Physical</option>
                <option value="3">Blood Test</option>
                <option value="4">Pain</option>
              </select>
              <button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
              </button>
            </div>
          </div>
          <div class="uk-width-1-1">
            <textarea class="uk-textarea" rows="5" placeholder="Additional comments"></textarea>
          </div>
          <p style="text-align: center;"><button class="uk-button uk-button-primary">Submit</button></p>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/index.js"></script>