<style>
  #icon {
    text-align: right;
  }

  body {
    background-color: #EBEBEB;
  }

  .accent {
    color: orange;
  }

  .accent:hover {
    color: grey;
    text-decoration: transparent;
  }

  .link {
    background-color: orange !important;
    color: white !important;
  }
</style>

<div class="uk-position-relative">
  <img src="https://happytoothnc.com/wp-content/uploads/2017/11/Happy-Tooth-Dental.jpg" alt="">
  <div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/">LOGO_HERE</a></li>
          <li><a href="#">Item</a></li>
          <li>
            <a href="#">Parent</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a class="uk-button uk-button-secondary link" href="/signup">Get Started</a></li>
          <li><a class="login" href="/portal">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<br><br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-5">
      <h2>Do more of what you love...</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod velit enim, in tincidunt libero
        iaculis finibus. Nam id rutrum tortor, in tristique eros. In tristique eros augue, nec ornare felis
        suscipit a. Sed efficitur tellus eget sapien eleifend aliquam. Cras blandit commodo leo. Curabitur sed
        imperdiet purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Praesent lobortis eu mi in tempus. Curabitur sed finibus mauris. Fusce aliquet dictum iaculis. Fusce
        feugiat nec leo nec bibendum.</p>
      <a href="" class="accent">> look further</a>
    </div>
    <div class="col-xl-5">
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

        <ul class="uk-slider-items uk-grid">
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
              <div class="uk-position-center uk-panel">
                <h1>Explore</h1>
              </div>
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://images.pexels.com/photos/368893/pexels-photo-368893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
              <div class="uk-position-center uk-panel">
                <h1>Photography</h1>
              </div>
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://images.pexels.com/photos/1268558/pexels-photo-1268558.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
              <div class="uk-position-center uk-panel">
                <h1>Food</h1>
              </div>
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://images.pexels.com/photos/219014/pexels-photo-219014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
              <div class="uk-position-center uk-panel">
                <h1>Travel</h1>
              </div>
            </div>
          </li>
          <li class="uk-width-3-4">
            <div class="uk-panel">
              <img src="https://images.pexels.com/photos/1257110/pexels-photo-1257110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
              <div class="uk-position-center uk-panel">
                <h1>Family</h1>
              </div>
            </div>
          </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>
    </div>

    <div class="col-xl-1"></div>
  </div>

  <br><br>

  <h3 class="uk-heading-primary" style="text-align: center;">Better Health Starts Here.</h3>

  <br><br>

  <div class="row">
    <div class="col-4">
      <div class="uk-child-width-1-1@m" uk-grid>
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="https://images.pexels.com/photos/721166/pexels-photo-721166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">Alerts</h3>
              <p>View instant updates in your medical record, no longer wait until your next visit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="uk-child-width-1-1@m" uk-grid>
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-body">
              <h3 class="uk-card-title">Private Messaging</h3>
              <p>Contact your Physician and Nurse's instantly with our user friendly private messaging.</p>
            </div>
            <div class="uk-card-media-bottom">
              <img src="https://images.pexels.com/photos/1549001/pexels-photo-1549001.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="uk-child-width-1-1@m" uk-grid>
        <div>
          <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
              <img src="https://images.pexels.com/photos/1020323/pexels-photo-1020323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="">
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">Book Appointments</h3>
              <p>Feeling under the weather? Book your next visit with a few easy clicks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url(https://images.pexels.com/photos/1313807/pexels-photo-1313807.jpeg?cs=srgb&dl=branch-bright-color-1313807.jpg&fm=jpg)">
      <div class="uk-container">/

        <h3>Section with Images</h3>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="Team">
    <h2>Team</h2>
  </div>
  <div class="info">
    <div class="row">
      <div class="col-3">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="../public/images/malePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Avery Bradley</h3>
                <p>Team Leader/ Back End</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="../public/images/malePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Javier Ventura</h3>
                <p>Back End Leader.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/1758144/pexels-photo-1758144.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Kasey Fillipot</h3>
                <p>Back End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="..public/images/femalePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Lidia Davidson</h3>
                <p>Back End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD
    <br><br>
    <div class="row">
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="../public/images/malePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Charles Duncan</h3>
                <p>Front End Leader.</p>
              </div>
            </div>
=======
  </div>

  <!-- Book appointment -->
  <div class="row">
    <div class="col-12">
      <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        <h3 class="uk-card-title">Book Appointment</h3>
        <p>Fill out the form below to book your next appointment.</p>

        <form class="uk-grid-small" uk-grid>
          <div class="uk-width-1-1">
            
          <!-- Date -->
          <label for="date-form">Pick a Date:</label>
          <input id="start_dt" class='datepicker' size='11' title='DD-MM-YYYY' />
          <!-- Time -->
          <label for="time-form">Pick a Time:</label>
          <input id="time-form" type="text" name="time-form" value="" aria-live="assertive" autocomplete="off" aria-label="Use up or down arrow keys to change time" required>
                    

>>>>>>> origin
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="..public/images/femalePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Jazmin Torres</h3>
                <p>Front End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="../public/images/malePlace.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Ian Campbell</h3>
                <p>Front End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
    <div>
      Solutions
      </div>
    <div>
      Company
      </div>
    <div>
      Team
      </div>
      <div>
        Support
      </div>
</div>
<<<<<<< HEAD
</div>
=======

<script src="/js/index.js"></script>
>>>>>>> origin
