<style>
  body {
    background-color: #EBEBEB;
  }

  .text {
    text-align: center;
  }
</style>

<div class="uk-position-relative">
  <img src="https://happytoothnc.com/wp-content/uploads/2017/11/Happy-Tooth-Dental.jpg" alt="">
  <div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/">LOGO_HERE</a></li>
          <li><a href="#">Item</a></li>
          <li>
            <a href="#">Parent</a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Info</a></li>
                <li class="uk-nav-header">Header</li>
                <li><a href="/">Homepage</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Item</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a class="uk-button uk-button-secondary link" href="/portal">Get Started</a></li>
          <li><a class="login" href="/portal">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<br><br>

<div class="container-fluid">
  <div class="info">

    <div class="uk-card uk-card-default uk-card-body uk-width-12-12@m">
      <h3 class="uk-card-title text">Default</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore
        magna aliqua.</p>
    </div>
  </div>
  <br><br>
  <div class="team">
    <div class="row">
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/71/08/500_F_178710887_dFUPAR69yHaSQsa2d7rzMzWwo2U0Bzaf.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Javier Ventura</h3>
                <p>Back End Leader</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/72/500_F_178497241_nGTYWu1x6yXO723n0DKaBetbPNlVV0V8.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Kasey Fillipot</h3>
                <p>Back End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/72/500_F_178497205_zeqozegYNzrVVL7rAWke4RRBvpJ17LXw.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Lidia Davidson</h3>
                <p>Back End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-4">
        <div class="uk-child-width-1-1@s" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497056_Zv2WIQWziRWGmZ93nokWTuCmuRCP2jAR.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Charles Duncan</h3>
                <p>Front End Leader.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497090_RemGiPvVmP6zvR0OSSfMCz2z8tj6HPsY.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Jazmin Torres</h3>
                <p>Front End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497062_hgx5plJvTQ1oR95XTWw2BFJXQkGmmRwK.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Ian Campbell</h3>
                <p>Front End.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-4">
        <div class="uk-child-width-1-1@m" uk-grid>
          <div>
            <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497062_hgx5plJvTQ1oR95XTWw2BFJXQkGmmRwK.jpg"
                  alt="">
              </div>
              <div class="uk-card-body">
                <h3 class="uk-card-title">Avery Bradley</h3>
                <p>Team Leader/Full Stack.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>