<style>
  body {
    background-color: #EBEBEB;
  }

  .text {
    text-align: center;
  }
</style>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" id='logo' href="/">betterHealth</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <ul class="uk-navbar-nav">
          <li><a class="uk-button uk-button-secondary link" href="/portal">Get Started</a></li>
          <li><a class="login" href="/portal">Login</a></li>
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="container-fluid">
  <div class="info">
    <div class="uk-section uk-section-default">
      <div class="uk-container">
        <h2>About</h2>

        <div class="uk-grid-match col-12" uk-grid>
          <div>
            <p>This site was brought to you to make doctor/patient appointments and record keeping more 21st century.
              Communicate directly to your Doctor or Nurse anytime, anywhere with our cross-device accessible website.
              Never worry about missing important medical news with live twitter feed updates on our groundbreaking
              dashboard.</p>
          </div>
          <div>
            <blockquote cite="#">
              <p class="uk-margin-small-bottom">Doctor/Patient relations rethought.</p>
              <footer><cite><a href="/">betterHealth</a></cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="team">
      <div class="row">
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/71/08/500_F_178710887_dFUPAR69yHaSQsa2d7rzMzWwo2U0Bzaf.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Javier Ventura</h3>
                  <p>Back End Lead</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/49/72/500_F_178497241_nGTYWu1x6yXO723n0DKaBetbPNlVV0V8.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Kasey Fillipot</h3>
                  <p>Back End</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/49/72/500_F_178497205_zeqozegYNzrVVL7rAWke4RRBvpJ17LXw.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Lidia Davidson</h3>
                  <p>Back End</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@s" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497056_Zv2WIQWziRWGmZ93nokWTuCmuRCP2jAR.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Charles Duncan</h3>
                  <p>Front End Lead</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497090_RemGiPvVmP6zvR0OSSfMCz2z8tj6HPsY.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Jazmin Torres</h3>
                  <p>Front End</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>

        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/71/08/500_F_178710841_7XmaFzCHF4t1hha5zgXQfWCHpjBKR3DO.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Ian Campbell</h3>
                  <p>Front End</p>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="uk-child-width-1-1@m" uk-grid>
            <div>
              <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                  <img src="https://as1.ftcdn.net/jpg/01/78/49/70/500_F_178497062_hgx5plJvTQ1oR95XTWw2BFJXQkGmmRwK.jpg"
                    alt="">
                </div>
                <div class="uk-card-body">
                  <h3 class="uk-card-title">Avery Bradley</h3>
                  <p>Team Leader/Full Stack</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>