<style>
    #login{
        background-color: rgb(231, 231, 231);
        padding: 20px;
    }
    h1{
        text-align: center;
    }
</style>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="/">betterHealth</a>

            <ul class="uk-navbar-nav">
                <li>

                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-fluid">
    <br><br>
    <h1 class="uk-heading-primary">Login</h1>
    <br>
    <div class="row" id="loginForm">
        <div class="col-xl-3 col-sm-0 col-md-2"></div>
        <div class="col-xl-6 col-sm-12 col-md-8" id="login">
            <form class="container uk-grid-small center uk-flex uk-animation-scale-up" uk-grid>
                <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-horizontal-select">Username/Email</label>
                    <input class="uk-input" id="emailInput" type="text" placeholder="johnnyappleseed@gmail.com">
                </div>
                <div class="uk-width-1-2@s">
                    <label class="uk-form-label" for="form-horizontal-select">Password</label>
                    <input class="uk-input" id="passwordInput" type="password" placeholder="************">
                </div>
                <p uk-margin>
                    <button class="uk-button uk-button-primary" id="submitBtn" type="button" href="#">Login</button>
                    <a href="/signup"><small>Don't have an account?</small></a>
                </p>
            </form>
        </div>
        <div class="col-xl-3 col-sm-0 col-md-2"></div>
    </div>
</div>

<!-- Error modal for username/email -->
<div id="userModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Error</h2>
        <p>The username or email you entered does not match our records, try again.</p>
    </div>
</div>

<!-- Error modal for password -->
<div id="userModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Error</h2>
        <p>The password you entered does not match our records, try again.</p>
    </div>
</div>
<script src="/js/login.js"></script>