<style>
    #msg{
        overflow: scroll !important;
        height: 35%;
    }
    #msg::-webkit-scrollbar { width: 0 !important }
</style>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">

            <a class="uk-navbar-item uk-logo" href="/dashboard">betterHealth</a>

            <ul class="uk-navbar-nav">
                <li>
                    <a>
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: table" uk-toggle="target: #offcanvas-nav"></span>
                    </a>
                </li>
            </ul>

            <div class="uk-navbar-right">
                <form class="uk-search uk-search-default">
                    <span class="uk-search-icon-flip" uk-search-icon></span>
                    <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
            </div>

        </div>
        <div class="uk-navbar-right">
            <div class="uk-navbar-item">
                <a href="/profile"><span class="uk-margin-small-right" uk-icon="icon: cog"></span></a>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-nav-header">Quick Menu</li>
                            <li><a href="#">View Messages</a></li>
                            <li><a href="#">Holistics</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="/profile">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-parent">
            <li class="uk-active"><a href="/dashboard">Dashboard</a></li>
            </li>
            <li class="uk-nav-header">More</li>
            <li><a href="/holistics"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> Holistics</a></li>
            <li><a href="/messages"><span class="uk-margin-small-right" uk-icon="icon: commenting"></span> Messages</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="/profile" class="usrNav"><img class="uk-border-circle" width="40" height="40" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
                    Profile</a></li>
        </ul>

    </div>
</div>

<div class="container-fluid">
    <div class="col-12">
        <div class="row">
            <h1 class="uk-heading-divider">Messages</h1>
        </div>
        <div class="row">
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

                <ul class="uk-slider-items uk-grid">
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"></a>
                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.faceplusplus.com/images/comparing/left_pic_three.jpg"></a>
                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://do7nu6l5erzu3.cloudfront.net/wp-content/uploads/2018/02/06121555/Final_McCarthy.Steve_6170.jpg"></a>
                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://static1.squarespace.com/static/557ad98ae4b0ab127fdc5578/55db0d53e4b0d2c6e6e49370/55db0d54e4b035628e25ccee/1440419770528/celeb+junot+diaz.jpg?format=500w"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://static1.squarespace.com/static/557ad98ae4b0ab127fdc5578/55db0d53e4b0d2c6e6e49370/55db0d54e4b01430023945c0/1440419733335/celeb+aziz+ansari.jpg?format=500w"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://content.thriveglobal.com/wp-content/uploads/2018/11/145tjWrgMIkGlCER4qmIbpw.jpeg"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.landfood.ubc.ca/files/2018/04/sumeet-gulati-square-crop.jpg"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.thepolyglotgroup.com.au/wp-content/uploads/2018/05/Noemie.jpg"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://66.media.tumblr.com/2127e50b59be022677be2c64986a2d79/tumblr_inline_oh8lj0LaG81r5wc9c_500.jpg"></a>

                    </li>
                    <li>
                        <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.seattleu.edu/academics/DoQuyenPortrait_500x500.jpg"></a>

                    </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                    uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                    uk-slider-item="next"></a>

            </div>
        </div>
        <div class="row">
            <hr class="uk-divider-small">
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-6">
                
            </div>
            <div class="col-xl-6 col-md-6 col-sm-6">
                <ul class="uk-comment-list" id="msg">
                    <li>
                        <article class="uk-comment uk-visible-toggle" tabindex="-1">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"
                                            width="80" height="80" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Dr.
                                                Smith</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12
                                                days ago</a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                        href="#reply">Reply</a></div>
                            </header>
                            <div class="uk-comment-body">
                                <p>What's up?</p>
                            </div>
                        </article>
                        <ul>
                            <li>
                                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg"
                                                    width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                        href="#">Me</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset"
                                                        href="#">12 days ago</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                                href="#reply">Reply</a></div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>Hey, Doc.</p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="uk-comment uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"
                                                    width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                        href="#">Dr. Smith</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset"
                                                        href="#">12 days ago</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                                href="#reply">Reply</a></div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>Your updated X-Rays came in today. Book an appointment so we can talk
                                            more
                                            in depth.</p>
                                    </div>
                                </article>
                            </li>
                            <li>
                                <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                                    <header class="uk-comment-header uk-position-relative">
                                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-comment-avatar" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg"
                                                    width="80" height="80" alt="">
                                            </div>
                                            <div class="uk-width-expand">
                                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                                                        href="#">Me</a></h4>
                                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset"
                                                        href="#">12 days ago</a></p>
                                            </div>
                                        </div>
                                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                                                href="#reply">Reply</a></div>
                                    </header>
                                    <div class="uk-comment-body">
                                        <p>Ok, thank you for the update.</p>
                                    </div>
                                </article>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="uk-search uk-search-large">
                    <input id="#reply" class="uk-search-input" type="input" placeholder="Type in message...">
                </form>
            </div>
        </div>
    </div>

</div>