@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.list-group-item {
  line-height: 2.5;
}

/* Dashboard.handlebars styles */
  #nav{
    background-color: #6bb1f5;
    color: white;
  }
  #logo{
    font-size: 28px !important;
    font-family: 'Dancing Script', cursive;
  }
  a, p{
    font-size: 14px !important;
  }
  .uk-text-primary, .uk-text-danger, .uk-text-success, .uk-text-warning{
    font-size: 20px !important;
  }
  .uk-nav-header, th, .tableName{
    font-size: 12px !important;
  }
  .uk-modal-body::-webkit-scrollbar{
    width: 0 !important;
 }
 .twitter-timeline::-webkit-scrollbar{
     width: 0 !important;
 }
 .gradient {
   height: 3px;

   animation: colorchange 1.4s;
   /* animation-name followed by duration in seconds*/
   /* you could also use milliseconds (ms) or something like 2.5s */
   -webkit-animation: colorchange 1.4s;
   /* Chrome and Safari */
 }

 @keyframes colorchange {
   0% {
     background: #faa96a;
   }

   25% {
     background: #32d296;
   }

   5% {
     background: #f15d78;
   }

   75% {
     background: #6bb1f5;
   }

   100% {
     background: #faa96a;
   }
 }

 @-webkit-keyframes colorchange

 /* Safari and Chrome - necessary duplicate */
   {
   0% {
     background: red;
   }

   25% {
     background: yellow;
   }

   50% {
     background: blue;
   }

   75% {
     background: green;
   }

   100% {
     background: red;
   }
  }
/* Profile.handlebars styles */
  #profile{
    text-align: center !important;
  };