#nav{
  background-color: skyblue;
}
a, p{
  font-size: 14px !important;
}
.uk-text-primary, .uk-text-danger, .uk-text-success, .uk-text-warning{
  font-size: 20px !important;
}
.uk-nav-header, th, .tableName{
  font-size: 12px !important;
}
.uk-modal-body::-webkit-scrollbar{
  width: 0 !important;
}
.twitter-timeline::-webkit-scrollbar{
   width: 0 !important;
}


/* Profile.handlebars styles */
#profile{
  text-align: center !important;
};
